@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
}

body {
    background-color: #EAF2EF;
    overflow-x: hidden;
}

/*----------------Login Model------------------*/
.login_main {
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2a2c2b7f;
    position: absolute;
    z-index: 12;
}

#close-btn {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #ff3535;
    color: white;
    cursor: pointer;
    position: absolute;
    top: -2%;
    right: -2%;
}

.login-tittle {
    position: absolute;
    top: 5%;
    font-size: 20px;
}

.login_center {
    width: 18rem;
    height: 18rem;
    background-color: #EAF2EF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.2);
    position: relative;
    font-size: 10px;
}

.signup_main {
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2a2c2b7f;
    position: absolute;
    z-index: 12;
}

.signup-tittle {
    position: absolute;
    top: 8%;
    font-size: 20px;
}

.log-sign-btn {
    width: 5rem;
    height: 1.5rem;
    background-color: #afabae;
    border: none;
    border-radius: 3px;
    color: white;
}

.log-sign-txt {
    height: 1.5rem;
    border: none;
    border-radius: 3px;
    outline: none;
    border-radius: 1px;
    background-color: #ffffff;
}

.signup_center {
    width: 18rem;
    height: 18rem;
    background-color: #EAF2EF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.2);
    position: relative;
    font-size: 10px;
}


.main {
    width: 100vw;
    height: 100vh;
    background-color: #EAF2EF;
    overflow-x: hidden;
}


/* ---------------------------header css------------------------ */


.header {
    width: 100vw;
    height: 3rem;
    background-color: #2a2c2b;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    padding-left: 1rem;
    letter-spacing: .2rem;
    position: relative;
}

.tittle {
    font-size: 1.2rem;
    margin-right: .9rem;
    color: #adb4b2;
    text-transform: uppercase;
    font-style: italic;
    animation: logo 8s linear infinite;
}

.search {
    position: absolute;
    right: 2%;
}

.search_bar {
    border: none;
    width: 15rem;
    height: 1.7rem;
    border: .1rem solid #ffec3d;
    border-radius: .2rem;
    outline: none;
    text-align: center;
    font-size: .7rem;
    animation: border_animation 8s linear infinite;
}

.btn-1 {
    width: 5rem;
    height: 1.7rem;
    border-radius: .2rem;
    background: transparent;
    color: #ffec3d;
    font-size: .7rem;
    border: .1rem solid #ffec3d;
    transition: all .5s;
    cursor: pointer;
    outline: none;
    animation: border_animation 8s linear infinite;
}

@keyframes border_animation {
    0% {
        border-color: red;
        color: red;
    }

    20% {
        border-color: rgb(255, 179, 0);
        color: rgb(255, 179, 0);
    }

    40% {
        border-color: rgb(55, 255, 0);
        color: rgb(55, 255, 0);
    }

    60% {
        border-color: rgb(78, 255, 181);
        color: rgb(78, 255, 181);
    }

    80% {
        border-color: rgb(255, 97, 237);
        color: rgb(255, 97, 237);
    }

    100% {
        border-color: red;
        color: red;
    }
}

.btn-1:hover {
    background-color: #000000;
    box-shadow: 0 0 10px rgb(55, 0, 255, 0.2);
    color: rgb(0, 0, 0);
    font-size: 10px;
}

.search_hidden {
    display: none;
}

@keyframes logo {

    0% {
        color: red;
    }

    20% {
        color: rgb(255, 179, 0);
    }

    40% {
        color: rgb(55, 255, 0);
    }

    60% {
        color: rgb(78, 255, 181);
    }

    80% {
        color: rgb(255, 97, 237);
    }

    100% {
        color: red;
    }

}

.tittle+.sp-1 {
    font-size: 1.5rem;
    font-weight: 200;
    color: #fff067;
    text-transform: uppercase;
    font-size: .8rem;
    font-style: italic;
}



/*------------------------ Navbar css----------------------------- */


.navbar {
    width: 100vw;
    height: 2.5rem;
    font-size: .8rem;
    display: grid;
    place-items: center;
    transition: all .5s;
}

.nav_outer {
    display: flex;
    list-style: none;
    text-align: center;
    line-height: 2.5rem;
    position: relative;
}

.nav_inner {
    position: absolute;
    display: grid;
    place-items: center;
    background-color: #a8bfb490;
    width: 8rem;
    border-radius: .5rem;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.2);
    transition: .8s;
    display: none;
    z-index: 2;
}

.nav_inner .in_li a {
    color: #fffffff0;
}

.out_li {
    margin-right: 2rem;
    transition: all .5s;
}

.out_li a:hover {
    border-bottom: .2rem solid #5c6e65c9;
    color: #5c6e65c9;
}

.out_li:nth-child(5) {
    margin-right: 0;
}

.out_li:hover:nth-child(2)>.nav_inner {
    display: grid;
    margin-right: -3rem;
    margin-left: -3rem;
    z-index: 2;
}

.in_li {
    list-style: none;
}

.out_li a {
    color: black;
    text-decoration: none;
}


/* -------------------------Slidebar-------------------------------- */


.slidebar {
    width: 100vw;
}

.images {
    width: 100vw;
}

.slide_img {

    width: 100vw;
    z-index: 1;
}


/*---------------------------Content------------------------------*/
.content_main {
    width: 100vw;
    height: auto;
    align-items: center;
    overflow-x: hidden;
}

.content_tittle {
    width: 100vw;
    height: 3rem;
    font-size: 1rem;
    display: grid;
    font-size: .9rem;
    place-items: center;
    margin-bottom: -4rem;
}

.content_main::-webkit-scrollbar {
    overflow-x: hidden;
    overflow-y: hidden;
}

.content_body {
    padding: 5rem 5rem;
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-template-rows: repeat(3, 20rem);
    grid-gap: 5rem;
    grid-auto-rows: 20rem;
    place-items: center;
}

#content_image {
    width: 15rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: cover;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.2);
    border-radius: .5rem;
    transition: all .5s;
}

#content_image:hover {
    transform: scale(.9);
}

.download_link {
    text-decoration: none;
    padding: .2rem .5rem;
    background-color: #ff3535;
    color: white;
    font-size: .6rem;
    border-radius: .2rem;
    box-shadow: 0 0 7px #ff3535;

}

.download_link:hover {
    background-color: #c7c7c7;
    box-shadow: 0 0 7px #c7c7c7;
}

span {
    position: absolute;
    background-color: #24ff92;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    transform-origin: 9rem 0;
    left: 30%;
    top: 45%;
    transform: rotate(calc(90deg * var(--i)));
    z-index: -1;
}

span:nth-child(1) {
    background-color: #ff3535;
    box-shadow: 0 0 90px #ff3535;
    filter: blur(5rem);
}

span:nth-child(2) {
    background-color: #ffec3d;
    box-shadow: 0 0 90px #ffec3d;
    filter: blur(5rem);
}

span:nth-child(4) {
    background-color: aqua;
    box-shadow: 0 0 90px aqua;
    filter: blur(5rem);
}

span:nth-child(3) {
    box-shadow: 0 0 90px #24ff92;
    filter: blur(5rem);
}

/*---------------------Footer-----------------------*/

.footer {
    width: 100vw;
    height: 10rem;
    background-color: #2a2c2b;
    color: #ffec3d;
    font-size: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer_ul {
    display: flex;
    list-style: none;
}

.footer_li {
    margin-right: 3rem;
}

.footer_li:nth-child(5) {
    margin-right: 0;
}

details {
    padding-top: 2rem;

}


/*----------------------- Responsive--------------------*/

@media screen and (max-width:640px) {

    .tittle {
        font-size: .9rem;
    }

    .tittle+.sp-1 {
        font-size: .6rem;
    }

    .search_bar {
        width: 5.5rem;
        height: 1.5rem;
        font-size: .6rem;
    }

    .search {
        right: 7%;
    }

    .btn-1 {
        width: 3rem;
        height: 1.5rem;
        font-size: .6rem;
    }

    .nav_inner {
        width: 7rem;
        font-size: .7rem;
        z-index: 2;
    }

    .out_li {
        font-size: .7rem;
    }

    .content_body {
        padding-top: 10;
        padding-left: 30px;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    #content_image {
        width: 14rem;
    }

    .content_tittle {
        font-size: .7rem;
    }

    .footer {
        font-size: .6rem;
    }

    .footer_li {
        margin-right: 1.2rem;
    }

}



/*---------------280px responsive-------------*/


@media screen and (max-width:280px) {

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tittle {
        font-size: .8rem;
    }

    .tittle+.sp-1 {
        font-size: .5rem;
    }


    .nav_inner {
        width: 6rem;
        font-size: .5rem;
        z-index: 2;
    }

    .out_li {
        font-size: .5rem;
    }

    .search_bar {
        display: none;
    }

    .btn-1 {
        display: none;
    }

    .search_hidden {
        width: 100vw;
        height: 2rem;
        border-bottom: .7rem solid #2a2c2b;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2a2c2b;
    }

    .search_bar_hidden {
        border: none;
        outline: none;
        border: .1rem solid #ffec3d;
        border-radius: .2rem;
        height: 1.3rem;
        text-align: center;
        margin-right: .5rem;
        font-size: .8rem;
    }

    .btn-1-hidden {
        width: 4rem;
        height: 1.3rem;
        border-radius: .2rem;
        background: transparent;
        color: #ffec3d;
        border: .1rem solid #ffec3d;
        font-size: .8rem;
        transition: all .5s;
        cursor: pointer;
        outline: none;
    }

    .content_body {
        padding-top: 10;
        padding-left: 60px;
    }

    .btn-1-hidden:hover {
        background-color: #ffec3d;
        box-shadow: 0 0 10px rgb(55, 0, 255, 0.2);
        color: black;
    }

    #content_image {
        width: 13.4rem;
    }

    .content_tittle {
        font-size: .5rem;
    }

    .footer {
        font-size: .5rem;
    }

    .footer_li {
        margin-right: 1rem;
    }
}